
@{
    ViewData["Title"] = "Index";
}

<h2>Section ve Partial Kullanımı</h2>

@section Scripts
{
    <script>
        //section script kodları yazmak için kullanılır section layota bulunur ,Scripts isimle layota bulabilmeli ,layota farklı isimlerde section oluştuurabilir ve kullanabilirsin 

        alert("section kullanımı ile js kodu çalıştırabiliriz")
    </script>
}

