
@{
    ViewData["Title"] = "Controllertoview";
}

<h1>Controllertoview</h1>

<h2> Controller dan view a veri taşıma </h2>

<div> Ürün Kategorisi:@ViewBag.kategoriad 

    <hr />

   ürün adı: @ViewData["UrunAdi"]
    <hr />

    ürün fiyatı:@TempData["urunfiyati"]
</div>




